<footer>
  <p mt-8 text-xs op-30 text-center>
    <!-- <span pr-1>Made by</span> -->
    <a
      b-slate-link
      href="https://jlu.edu.cn" target="_blank"
    >
      Jilin University
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/conql/linuxbot-ui" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
