---
import { model } from '../utils/openAI'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fie items-center">
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Linux</span>
    <span class="gpt-subtitle">Bot</span>
  </div>
  <p mt-1 op-60>Linux 实践课程问答机器人</p>
</header>
