---
import ShareButton from './ShareButton.astro'
import ThemeToggle from './Themetoggle.astro'
---

<header>
  <div class="fie items-center">
    <ShareButton />
    <ThemeToggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Linux</span>
    <span class="gpt-subtitle">Bot</span>
  </div>
  <p mt-1 op-60>《Linux 实践课程》问答机器人</p>
</header>
